/* Styles for the content in About Me */

.about-table {
    text-align:left;
    margin: 0 auto;
    border: 1px solid #FFFFFF;
    border-collapse: collapse;
}

.about-table th, .about-table td {
    border: 2px solid #FFFFFF;
    padding: 5px;
}