:root {
    --header-height: 100px;
    --text-color: #FFFFFF;
    --content-preview-height: 15vh;
    --background-color: #E6433E;
    --secondary-background-color: #333333;
    --fallback-font: sans-serif;
}

/* Main page styles */

body {
    background-color: var(--background-color);
    font-family: 'Play', var(--fallback-font);
    font-size: 1.5em;
}

#site-icon {
    height: 100%;
    float: left;
}

.main {
    margin: 30px auto;
    max-width: 800px;
}

/* Header stlyes */

.page-header {
    color: var(--text-color);
    height: var(--header-height);
    width: 100%;
    overflow: hidden;
}

.header-text {
    margin: 0;
    height: 100%;
    line-height: var(--header-height);
    font-size: var(--header-font-size);
    font-weight: bold;
    float: left;
}

.header-text.right {
    right: 0px;
    font-style: italic;
    text-align: right;
    font-weight: normal;
    float: right;
}

/* Content Styles */

.content-item {
    display: block;
    margin: 35px 0;
    width: 100%;
    background-color: var(--secondary-background-color);
    overflow: hidden;
    border-radius: 8px;
    min-height: 25vh;
    max-height: var(--content-preview-height);
    /* height: auto; */
    transition: max-height 1.5s;
    background-image: linear-gradient(to bottom, var(--secondary-background-color) 50%, var(--text-color) 100%);
}

.content-title {
    margin: 2.5vh;
    height: 10vh;
    font-size: 1.5em;
    word-wrap: break-word;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.content-body {
    margin: 35px;
    word-wrap: break-word;
    text-align: justify;
    color: var(--text-color);
    display: block;
}

.content-item.open {
    max-height: 1500vh;
    background-image: none;
}

.content-image {
    height: var(--content-preview-height);
    float: left;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--background-color);
}

/* Content body styles */

.table {
    text-align:left;
    margin: 0 auto;
    border: 1px solid #FFFFFF;
    border-collapse: collapse;
}

.table th, .table td {
    border: 2px solid #FFFFFF;
    padding: 5px;
}

/* Animations */

@keyframes slideLeft {
    0% {
        transform: translate(200px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translate(-200px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
