:root {
    --header-height: 100px;
}

/* Main page styles */

body {
    background-color: #E6433E;
    font-family: 'Play', sans-serif;
}

#site-icon {
    height: 100%;
    float: left;
}

.main {
    margin: 0 auto;
    max-width: 800px;
}

/* Header stlyes */

.page-header {
    /* position: relative; */
    color: #FFFFFF;
    height: var(--header-height);
    width: 100%;
    /* right: 10%; */
    overflow: hidden;
}

.header-text {
    margin: 0;
    height: 100%;
    line-height: var(--header-height);
    font-size: 32px;
    font-weight: bold;
    float: left;
}

.header-text.right {
    right: 0px;
    font-style: italic;
    text-align: right;
    font-weight: normal;
    float: right;
}

/* Content Styles */

.content-item {
    display: block;
    margin: 25px 0;
    width: 100%;
    /* min-height: 15vh; */
    background-color: #333333;
    overflow: hidden;
    border-radius: 25px;
    -webkit-transition: width 2s;
    transition: height 2s;
}

.content-title {
    margin: 35px;
    height: 15vh;
    word-wrap: break-word;
    text-align: center;
    font-size: 32px;
    color: #FFFFFF;
}

.content-body {
    margin: 35px;
    word-wrap: break-word;
    text-align: justify;
    font-size: 1em;
    color: #FFFFFF;
    display: none;
}

.content-image {
    height: 15vh;
    float: left;
}

/* Animations */

@keyframes slideLeft {
    0% {
        transform: translate(200px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translate(-200px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}